*{
    Padding: auto;
}
footer{
background-color:#f2b79f ;
}
header{
background-color: #ffd6e0;
color: #7cc6fe;

}
nav {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #333;
    padding: 10px;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav ul li {
    float: left;
  }
  
  nav ul li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 10px;
    text-decoration: none;
  }
  
  nav ul li:hover {
    background-color: #555;
  }
  
  nav ul li.dropdown:hover .dropdown-menu {
    display: block;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #333;
    padding: 10px;
  }
  
  .dropdown-menu li {
    display: block;
  }
  
  .dropdown-menu li a {
    color: #fff;
    text-decoration: none;
  }
  
